<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProviderDAO">

    <insert id="regisUser">
        INSERT INTO user(id, name, birth, wallet) VALUES (#{id}, #{name}, #{birth}, 0);
    </insert>
    <resultMap id="BaseUserResultMap" type="com.entities.User">
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="birth" property="birth" jdbcType="DATETIME"/>
    </resultMap>
    <select id="getUser" resultMap="BaseUserResultMap">
        SELECT * FROM user WHERE id=#{id};
    </select>
    <update id="updateUser"></update>


    <insert id="addMedicine"></insert>
    <select id="getMedicine" resultType="com.entities.Medicine"></select>
    <update id="updateMedicine"></update>
    <delete id="deleteMedicine"></delete>

    <insert id="createOrder"></insert>
    <select id="getOrder" resultType="com.entities.Order"></select>
    <delete id="deleteOrder"></delete>

    <insert id="initDept"></insert>
    <select id="getDept" resultType="com.entities.Dept"></select>
    <update id="updateDept"></update>

    <insert id="empDoctor"></insert>
    <select id="getDoctor" resultType="com.entities.Doctor"></select>
    <update id="updateDoctor"></update>
    <delete id="ueDoctor"></delete>

    <insert id="signRegister"></insert>
    <select id="getRegister" resultType="com.entities.Register"></select>

</mapper>
