server:
  port: 7501
spring:
  application:
    name: gateway-service-7501
  cloud:
    gateway:
      routes:
        - id: service-example
          # uri: http://localhost:8001
          uri: lb://service-name
          predicates:
            - Path=/payment/get/**
      discovery:
        locator:
          enabled: true  #开启从注册中心动态生成路由的功能，用微服务名进行路由
eureka:
  instance:
    hostname: Gateway-service-7501
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:7001/eureka
